{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/vexflow-min.js')}}"></script>
<script src="{{=URL('static', 'js/vextab-div.js')}}"></script>
<!-- polyfill -->
<script src="{{=URL('static', 'js/Base64.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/Base64binary.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/WebAudioAPI.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/WebMIDIAPI.js')}}" type="text/javascript"></script>

<!-- midi.js -->
<script src="{{=URL('static', 'js/midi/audioDetect.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/gm.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/loader.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/plugin.audiotag.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/plugin.webaudio.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/plugin.webmidi.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/player.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/synesthesia.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'soundfont/acoustic_grand_piano-ogg.js')}}" type="text/javascript"></script>


<script>
    var profiles_url = "{{=URL('api', 'get_profiles')}}";
    var add_completion_url = "{{=URL('api', 'add_completion', user_signature=True)}}";
    var add_profile_url = "{{=URL('api', 'add_profile', user_signature=True)}}";
    var refresh_url = "{{=URL('default', 'index')}}";
    var play = null; // gets defined in default_index.js
    var stop = null; // gets defined in default_index.js
</script>
{{end}}
<div id="vue-div" class="display:none main_content">
    <div v-show="page == 'test'" id="boo" style="margin-top:10px;">
        <a href="#" v-on:click="setPage('test')">test page</a>
        <a href="javascript:play();">Play</a>&nbsp;&nbsp;&nbsp;<a href="javascript:stop();">Stop</a>
    </div>
    <div v-if="page == 'home'" id="mutorHome">
        <h1>Learn About Music Theory the Cool Way</h1>
        <br>
        <br>
        <h2 style="text-align: center;">Compose Pieces Like These!</h2>
        <p style="text-align: center">
            <img src="{{=URL('static', 'images', args='furElise.gif')}}" />
        </p>
        <p style="text-align:center">Take our <a href="#" v-on:click="setPage('lessons')">music theory lessons</a> in whatever order that fits you (though we recommend from the beginning if you're new to music).</p>
    </div>
    <div v-if="page == 'lessons'" id="mutorLessonList">
        <div class="post_list_header text-right">
        </div>
        <br />
        <a href="#" v-on:click="setPage('home')"><-- Back to Home</a>
        <h1>Lessons</h1>
        <p style="text-align:center">
            <a href="#" v-on:click="setPage('test')">test page</a>
            <h2>Chapter 1: The Basics</h2>
            <a href="#" v-on:click="setPage('lesson1_1')">Lesson 1.1: Rhythm</a>
        </p>
    </div>
    <div v-show="page == 'lesson'" id="mutorLesson">
        <div class="post_list_header text-right">
        </div>
        <br />
        <a href="#" v-on:click="setPage('home')"><-- Back to Home</a><br />
        <a href="#" v-on:click="setPage('lessons')"><-- Back to lesson listing</a>
        <a href="#" v-on:click="setPage('lesson1_1')">Lesson 1.1: Rhythm</a>
        <div v-show="chapter == 1">
            <div v-show="lesson == 1">
                <div v-if="logged_in">${add_completion((chapter + '_' + lesson))}</div>
                <h1>Lesson 1.1: Rhythm</h1>
                <p>Rhythm in music is everything related to speed and timing. For music notation, one of the most important aspects of rhythm is the <strong>measure</strong>, or <strong>bar</strong>. The measure is just a section of the staff. Its meaning is decided by the <strong>time signature</strong>, which is written at the beginning of the staff as two numbers: one on top of the other, often a 4 over another 4 (if there's just a big "C", that means 4/4). The number on top is how many beats there are per measure, and the one on bottom is the <strong>meter</strong>, or what type of note gets the beat.</p>
                <p>If the number on top is a 4, that means there are 4 beats per measure. If it's a 6, then 6 beats per measure. It's self-explanatory.</p>
                <p>The meter is slightly more complicated. If the number on the bottom is a 4, that means each quarter note is worth 1 beat. If it's a, 8, then it's each 8th note. 16 means each 16th note, and so on. In the other direction, 2 means half notes and 1 means whole notes.</p>
                <p>To keep things simple for now, the following example is standard 4/4 time and only uses quarter notes:</p>
                <div id="lesson1_1">(if you don't see music notation here, VexFlow's bugs have struck again)</div>
                <a href="javascript:play();">Play</a>&nbsp;&nbsp;&nbsp;<a href="javascript:stop();">Stop</a>
                <p>The next example has each type of note in order: whole, half, quarter, eighth, sixteenth, and thirdy-second:</p>
                <div id="lesson1_1_note_types">(we didn't actually make the notation for this one, because we know it isn't going to show up anyway)</div>
                <a href="javascript:play();">Play</a>&nbsp;&nbsp;&nbsp;<a href="javascript:stop();">Stop</a>
                <p>The only difference between these types of notes (besides how they look) is their timing and speed; their rhythm.</p>
            </div>
        </div>
    </div>
</div>
        <!-- midi.js utils -->
<script src="{{=URL('static', 'js/util/dom_request_xhr.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/util/dom_request_script.js')}}" type="text/javascript"></script>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
