{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vexflow-min.js')}}"></script>
<script src="{{=URL('static', 'js/vextab-div.js')}}"></script>
<!-- polyfill -->
<script src="{{=URL('static', 'js/Base64.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/Base64binary.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/WebAudioAPI.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/WebMIDIAPI.js')}}" type="text/javascript"></script>

<!-- midi.js -->
<script src="{{=URL('static', 'js/midi/audioDetect.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/gm.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/loader.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/plugin.audiotag.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/plugin.webaudio.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/plugin.webmidi.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/player.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/midi/synesthesia.js')}}" type="text/javascript"></script>

<script>
    var play = null; // gets defined js file
    var stop = null; // gets defined js file
</script>
{{end}}

<div id="boo" class="main_content">
<a href="javascript:play();">Play</a>&nbsp;&nbsp;&nbsp;<a href="javascript:stop();">Stop</a>
</div>
        <!-- midi.js utils -->
<script src="{{=URL('static', 'js/util/dom_request_xhr.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/util/dom_request_script.js')}}" type="text/javascript"></script>

<script src="{{=URL('static', 'js/lesson1_1.js')}}"></script>
